<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="action_open_instancias" model="ir.actions.act_window">
        <field name="name">Instancias Whatsapp</field>
        <field name="res_model">whatsapp.instancia</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- <record id="action_open_datasheet" model="ir.actions.act_window">
        <field name="name">Hoja de datos</field>
        <field name="res_model">datasheet</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_open_copier_brand" model="ir.actions.act_window">
        <field name="name">Marcas de Copiadoras</field>
        <field name="res_model">copier.brand</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_open_config_1" model="ir.actions.act_window">
        <field name="name">Settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'kaf-fotocopiadoras-datacopier', 'bin_size': False}</field>
    </record> -->

<!--  menu principal -->
    <menuitem id="menu_principal" name="Whatsapp" />
    <!-- submenu1 -->
    <menuitem id="menu_horizontal_1" name ="Instancias" parent="menu_principal" sequence="1" action="action_open_instancias"/>
        <!-- -->
        <!-- <menuitem id="menu_vertical_archivos_ventas" name="Archivo de venta" parent="menu_horizontal_ventas" action="action_open_archivo_venta" /> -->
    <!-- submenu2 -->
    <menuitem id="menu_horizontal_2" name ="Mensajes" parent="menu_principal" sequence="10"/>
        <!-- -->
        <!-- <menuitem id="menu_vertical_datasheet" name="Hojas de Datos" parent="menu_horizontal_1" action="action_open_datasheet" />
        <menuitem id="menu_vertical_copier_brand" name="Marcas de Foto." parent="menu_horizontal_1" action="action_open_copier_brand" /> -->
    <!-- submenu3 -->
    <menuitem id="menu_horizontal_3" name="Miscelaneo" parent="menu_principal" sequence="99"/>
        <!--  -->
        <!-- <menuitem id="menu_vertical_config_1" name="Settings" parent="menu_horizontal_2" action="action_open_config_1" groups="base.group_system"/> -->
</odoo>